div.aside-wrapper {
    width: 25%;
    height: 100%;
    overflow-y: auto;
    background: rgb(180, 180, 180);
}

header.aside-header {
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid black;
    background: rgba(255, 255, 255, 0.473);
}

section.users-list {
    background: rgb(180, 180, 180);
}