div.aside-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.aside-user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-left: 5px;
}

div.aside-user-name {
    margin: 15px 0 15px;
}

div.aside-user-phone-number {
    margin: 15px 0 15px;
}

div.aside-user-bio {
    margin: 15px 0 15px 20px;
}