div.chat-wrapper {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(150, 150, 150);
    position: relative;
}

section.messages-list {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
}

div.message-wrapper-outgoing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background: rgba(255, 255, 255, 0.637);
    border-radius: 10px;
    margin: 15px 10px 0 auto;
}

div.message-wrapper-incoming {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background: rgba(255, 255, 255, 0.637);
    border-radius: 10px;
    margin: 15px 0 0 10px;
}

div.message-time {
    margin-left: 15px;
}