aside {
    width: 25%;
    height: 100%;
    overflow-y: auto;
    background: rgb(180, 180, 180);
}

header.aside-header {
    position: relative;
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid black;
    background: rgba(255, 255, 255, 0.473);
}

.link-back-from-settings {
    display: none;
}

header:hover .link-back-from-settings {
    text-decoration: none;
    display: flex;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

div.settings-content-wrapper {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(150, 150, 150);
    position: relative;
}

div.setting-item {
    margin: 10px 0 0 15px;
    text-transform: uppercase;
}

div.user-settings-items {
    display: flex;
}